@import './reset.less';
@import './var.less';
@import './fonts.less';

html {
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	outline: none;
}
body {
	width: 100%;
	min-width: 320px;
	height: 100%;
	font-size: 16px;
	font-family: sans-serif;
}
p {
	margin-bottom: 10px;
}
img {
	vertical-align: middle;
	border: 0;
}
br {
	clear: both;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
.cf {
    zoom: 1; 
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear:both;
	}
}
.hidden, 
[hidden] {
	display: none !important;
}
