.include-custom-font(@dir, @family, @weight: normal, @style: normal){
	@font-face{
		font-family: "@{family}";
		src:url('../fonts/@{dir}/@{dir}.eot');
		src:url('../fonts/@{dir}/@{dir}.eot?#iefix') format('embedded-opentype'),
			url('../fonts/@{dir}/@{dir}.woff') format('woff'),
            url('../fonts/@{dir}/@{dir}.woff2') format('woff2'),
			url('../fonts/@{dir}/@{dir}.ttf') format('truetype');
		font-weight: @weight;
		font-style: @style;
	}
}


.include-custom-font(RobotoRegular , Roboto); 