include header
include footer

doctype
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content ie='edge')

		block title
			title Default title

		meta(name='description', content='')
		link(rel='shortcut icon', href='../img/favicon/favicon.ico', type='image/x-icon')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

		link(rel='stylesheet', href='../css/style.css')

	body
		#wrapper

			+header

			block content

		+footer

		.hidden
			block hidden
						
		script(src='../js/libs/jquery/jquery.min.js')
		script(src='../js/main.js')
